body{

    background-image: url(assets/images/bg2.png);
    background-size: contain;
    background-color: black;  
}

@font-face {
    font-family: 'Peste';
    src: url(assets/fonts/PesteTRIAL-Regular.otf);
}

@font-face {
    font-family: 'Radiotechnika';
    src: url(assets/fonts/Radiotechnika.otf);
}

@font-face {
    font-family: 'PlusJak';
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

div.title {
    padding: auto;
    font-size:30px;
    color:whitesmoke;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Peste';
}

div.sub-heading {
    color:whitesmoke;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Radiotechnika';
}

div.author {
    color:whitesmoke;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Radiotechnika';
}

div.text {
    font-size: small;
    color:whitesmoke;
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'PlusJak'
}