body{

    background-image: url(assets/images/background.png);
    background-size: contain;
    background-color: black;  
}

@font-face {
    font-family: 'Peste';
    src: url(assets/fonts/PesteTRIAL-Regular.otf);
}

div.title {
    font-size:30px;
    color:whitesmoke;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Peste';
}