body {
    background-color: black;
    height: 100%;
    max-width: 100%;
  }

  div {

    box-sizing: border-box;

}

@font-face {
    font-family: 'PlusJak';
    src: url(Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

.button-container {
    z-index: 0;
    position: absolute;
    left: 47%;
    top: 75%;
  }

.centered-button {
    z-index: -1;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    transition: background-color 0.5s, color 0.5s;

  } 

  .centered-button:hover {
        background-color: white;
        color: black;
  }


  div.toppage {
    margin: 0px;
    width: 100%;
    height: 100vh;

  }

  div.bottompage {

    margin: 0;
    z-index: 2;
    height: 98vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    background-color:#0a0a0a;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    padding: 4vh;
    

  }

  .r1c1 {
    height: 100%;
    width: 33%;
  }

  #centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .r1c2 {
    height: 100%;
    width: 66%;
    padding: 2%;
    font-family: 'PlusJak';
  }

  .header {
    width:auto;
    font-size: 47px;
    font-weight: 500;
  }

  .bodytext {

    font-weight: 100;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 18px;

  }


  .graphiccontainer{

    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  



  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
  }

  #video-background video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

  }


