body {
    background-color: black;
    height: 100%;
    max-width: 100%;
  }

  div {

    box-sizing: border-box;

}


  div.toppage {
    margin: 0px;

    width: 100%;
    height: 100vh;

  }

  div.bottompage {

    margin: 0;
    z-index: 1;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    background-color:#0a0a0a;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;

  }

  div.r1c1 {

    width: 33.33%;
    height: 30vh;
    outline: 5px solid cyan;

  }

  div.r1c2 {

    width: 33.33%;
    height: 30vh;
    outline: 5px solid cyan;

  }
  div.r1c3 {

    width: 33.33%;
    height: 30vh;
    outline: 5px solid cyan;

  }


  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
  }

  #video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

  }

  #centered-button {
    position: fixed;
    top: 75vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: -1;
  }