body {

    background-color: black;
    color: white;

}

#backgroundvid {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  div.container {
    color: white;
  }